# Ignorar todo en la raíz
/*

# Permitir carpetas completas y todo su contenido:
!nvim/
!waybar/
!rofi/
!hypr/
!kitty/
!fastfetch
!spicetify/
!fish/
!Wallpapers/

# Permitir archivos específicos en la raíz:
!.gitignore

# Permitir archivos específicos dentro de una carpeta que sí está ignorada:
# EJEMPLO: !config/database.yml
